h1 {
    font-size: 40px;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #d1e1e6;
}

.sideBar {
    background: lightblue;
    width: 30%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
}

.page {
    margin-left: 30%;
    margin-top: 7px;
}

.buttonHolder {
    text-align: center;
}

.gameInfoText {
    font-size: 120%;
    text-align: center;
    margin-bottom: 7px;
}

.button {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    outline: none;
    background-color: lightblue;
}

.scoreBox {
    text-align: center;
    outline-color: lightblue;
}

.infoWrapper {
    padding: 10px;
    margin-bottom: 25px;
    border: 2px solid #3497b7;
    border-radius: 25px;
    border-width: 25%;
    width: auto;
}

.gameScoreText {
    font-size: 300%;
}

.gameBoard {
    margin: auto;
}

.gridsquare {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    float: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    text-align: center;
    outline-style: solid;
    outline-color: #030d1e;
}

.gridsquare:hover {
    background-color: #69bbea;
}
